#data analysis and manipulation 
numpy
pandas

# ide
jupyter-notebook

# visualization
matplotlib
seaborn


# machine learning
scikit-learn
xgboost
category_encoders

# time series analysis
statsmodels

#sql connection
pyodbc
python-dotenv

# sphinx
sphinx
rst-to-myst[shpinx]
nbsphinx
furo